.app{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  background: linear-gradient(
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.5)
  ),
  url('https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg');
background-size: cover;
background-position: center;
}

form{
  background-color: white;
  padding: 0px 60px;
  border-radius: 15px;
}

h1{
  color: rgb(77, 1, 77);
  text-align: center;
}

button{
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: rebeccapurple;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
}